/*/target
.DS_Store
/*/.myeclipse
/*/.myeclipse/
*/.classpath
*/.project
/*/.metadata
/*/.settings
/*/.apt_generated/
/*/target
.classpath
.project
/.metadata
/.settings
/.apt_generated/
frame/.factorypath
*/*.iml
*/.idea/
.idea/
/target
*/out/
